<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Купить супер мега задачи</title>

    <link rel="stylesheet" href="static\styles\styles.css">
</head>

<body>
    <header>
        <table>
            <td><img src="static\images\MKN_Hub_title.png" style="width: 20%;"></td>
            <td>
                <h1><strong>Ну че дружок пирожок ты зашел купить задачки для Суща.....</strong></h1>
            </td>
        </table>
    </header>
    <form action="/buy_product" method="post">
        <div>
            <label for="card_number">Номер карты: </label>
            <input name="card_number" type="number" required="required">
        </div>
        <div>
            <label for="date">Срок действия: </label>
            <input name="date" type="month" required="required">
        </div>
        <div>
            <label for="name">Имя и фамилия владельца карты: </label>
            <input name="name" type="text" required="required">
        </div>
        <div>
            <label for="code">CVC2/CVV2: </label>
            <input name="code" type="number" required="required">
        </div>
        <div>
            <input type="submit">
        </div>
    </form>

    <!-- <script language="javascript">
        function validate() {
            let number = document.getElementById("card_number");
            let name = document.getElementById("name");
            let code = document.getElementById("code");

            if (String(number).length != 16) {
                alert("Номер карты должен быть равен 16!");
                return false;
            } else if (name.split(' ').length != 2) {
                alert("Неправильно введено имя!");
                return false;
            } else if (!/[a-zA-Z]/.test(name)) {
                alert("В имени должны быть только англ. буквы!");
                return false;
            } else if (String(code).length != 3) {
                alert("CVC2/CVV2 код должен быть длиной 3!");
                return false;
            }

            return true;
        }
    </script> -->
</body>

</html>