<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="static\styles\styles.css">
</head>

<body>
    <header>
        <table>
            <td><img src="static\images\MKN_Hub_title.png" style="width: 17%;"></td>
            <td>
                <h1>Упсссс</h1>
                <h2>Просим прощения но ваши сбережения ушли на дачу к Сущу</h2>
            </td>
        </table>


    </header>
</body>

</html>